body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #2f0f5d;
  margin: 50 auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 562.5%;
  line-height: 2;
}

h2 {
  font-size: 250%;
  color: #2f0f5d;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #576cbc;
}

a {
  color: #dfa1d0;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #f6e6f2;
}

p {
  font-size: large;
  line-height: 2;
}

hr {
  border: dotted hsl(302, 94%, 37%) 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #720ed0;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.webd {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.prog {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.android {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #4e037f;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5bbab5;
  background-image: -webkit-linear-gradient(top, #5bbab5, #3498db);
  background-image: -moz-linear-gradient(top, #5bbab5, #3498db);
  background-image: -ms-linear-gradient(top, #5bbab5, #3498db);
  background-image: -o-linear-gradient(top, #5bbab5, #3498db);
  background-image: linear-gradient(to bottom, #5bbab5, #3498db);
  text-decoration: none;
}

.copyright {
  color: #ffffff;
  font-size: 75%;
  padding: 20px 0;
}
